<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>iFrame</name>
    <description>
        Live Eventmanager
    </description>
    <author email="chh_rahul@live.com" href="http://softweavertech.com">
        Rahul Chhabra
    </author>
    <content src="index.html" />
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="it.almaviva.openurlext" version="1.0.0">
<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
<allow-navigation href="*" />
<allow-intent href="*" />
<access origin="*" /> <!-- Required for iOS9 -->

 <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenUrlExt">
                <param name="ios-package" value="OpenUrlExt"/>
            </feature>
        </config-file>
        <source-file src="ios/OpenUrlExt.m" />
        <header-file src="ios/OpenUrlExt.h" />
    </platform>
  

<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>


<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>
 <preference name="AllowInlineMediaPlayback" value="true" />    
 <preference name="DisallowOverscroll" value="true" />
 <preference name="SplashScreen" value="screen" />
 <preference name="SplashScreenDelay" value="5000" /> 
 <preference name="OpenAllWhitelistURLsInWebView" value="false" />  
 <preference name="websecurity" value="disable" />

  <preference name="android-build-tool" value="gradle" />
  <preference name="phonegap-version" value="cli-5.1.1" />
  <preference name="android-minSdkVersion" value="15" />             
  <preference name="android-targetSdkVersion" value="15" /> 
  <preference name="android-installLocation" value="auto" /> 

  
</widget>


